.button {
  padding: 8px 30px;
  font-family: inherit;
  font-size: 16px;
  line-height: 26px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.25s;
}

.accent {
  background: #312eb5;

  &:hover {
    background-color: #222096;
  }
}
