.journal-item {
  border-radius: 3px;
  background: rgba(255 255 255 / 3%);
  padding: 20px;

  &__title {
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #fff;
  }

  &__body {
    display: flex;
    gap: 10px;
  }

  &__date {
    font-style: normal;
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
    color: rgba(255 255 255 / 40%);
  }

  &__text {
    font-style: normal;
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
    color: rgba(255 255 255 / 60%);
  }
}
