.journal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(95 80 73);
  background: none;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.input-title {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(95 80 73);
  background: none;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

.form-label {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 150px;
}

.form-row {
  display: flex;
  align-items: center;
}

.invalid {
  border: 1px solid red;
  background-color: rgb(69 4 4);
}
