.journal-add {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

.plus {
  width: 20px;
  height: 20px;
}
